@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    background-color: #fac670;
}

/* piano-key.tsx */
@layer components {
    .key {
        @apply w-full h-full bg-white rounded-xl  transition-all   duration-500  flex items-center justify-start pl-6;
    }
    .key:hover,
    .key-selected {
        @apply translate-x-10 brightness-[0.7];
    }

    .key-black {
        @apply bg-black;
        span {
            @apply bg-white/20;
        }
    }
}

@layer components {
    .dashboard {
        @apply translate-x-[-100vw];
        animation: come-center 1s linear forwards;
    }
    .key-wrapper {
        @apply h-[20%] w-full translate-x-[100vw];
        animation: come-center 1s linear forwards;
        animation-delay: var(--_t, 0.5s);
    }
}

@keyframes come-center {
    to {
        transform: translateX(0);
    }
}
